<div class='show page'>
  <h3>TV SHOW</h3>
  <input placeholder="search bar" />

  <ul class="list-poster">
    <li>
      <div class="img">
        <img src='http://fr.web.img4.acsta.net/c_215_290/pictures/19/02/25/12/06/2908996.jpg' />
      </div>
      <div class="bottom-card">
        <h4>TITRE</h4>
        <span>2019</span>
      </div>
    </li>
    <li>
      <div class="img">
        <img src='http://fr.web.img4.acsta.net/c_215_290/pictures/19/02/25/12/06/2908996.jpg' />
      </div>
      <div class="bottom-card">
        <h4>TITRE</h4>
        <span>2019</span>
      </div>
    </li>
  </ul>

</div>