<div class="head">
  <div class="header">
    <div class="sign">
      <h1>
        SignIn<span class="first">/</span>SignUp
      </h1>
    </div>
    <div class="title">
      <h1 class="neon">MANAGE </h1>
      <!-- <span>Oganise your popular movies and tv shows</span> -->
      <span>Program what you have already watch and what you want watch</span>
    </div>
  </div>
  <nav>
    <div class="btn" routerLink="/shows" routerLinkActive="active"> <a>Tv shows</a>
    </div>
    <div class="btn" routerLink="/movies" routerLinkActive="active"> <a>Movies</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>