<div class="home">
  <div class="header">
    <div class="title">
      <h2>HOME</h2>
      <h3>Films et série populaires <br /> Gérer les et regarder les plus tard!</h3>
    </div>
    <div class='inscription'>
      <span>inscription/deconnexion</span>
    </div>
  </div>

  <div class="liste">
    <div class="filtre">
      <span>Films</span>
      <span>Séries</span>
    </div>
    <div class="filtre-resultat">
      <input value="recherche selon le filtre" />
      <ul>
        <li>movie 1</li>
        <li>movie 1</li>
        <li>movie 1</li>
        <li>movie 1</li>
        <li>movie 1</li>
        <li>movie 1</li>
      </ul>
    </div>
  </div>

</div>